
.parent{
	position:relative;
	height:200vh;
	background-color:lightblue;
}

.child-one{
position:fixed;

background-color:tomato;
}

.child-two{
position:absolute;

background-color:green;
}

.child-three{
position:sticky;

background-color:gray;
}