*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container{
	display:flex;
	height:100vh;
	justify-content:center;
	align-items:center;
}

.btn{
	width:180px;
	height:50px;
	font-size:1.2rem;
	background:#ff005c;
	border:none;
	margin:20px;
	outline:2px solid #ff005c;
	outline-offset:4px;
	border:2px solid #ff005c;
	cursor:pointer;
	color:white;
	transition:all 250ms;
	
	
}

.btn:hover{
	outline-offset:-8px;
	color:rgb(34,34,34);
	background:none;
	
}

.btn:nth-child(2){
	outline-offset:4px;
}

.btn:nth-child(2):hover{
	outline-offset:-8px;
}